.recipe-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  grid-gap: 10px;
}

@media(min-width: 800px)
{
  .recipe-container {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1200px) {
  .recipe-container {
    width: 80%;
    grid-template-columns: 1fr 1fr;
  }
}

