* {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

body {
  background-color: #dfdfdf;
  color: rgb(66, 66, 66);
}

a {
    text-decoration: none;
}

ul {
  list-style-type: none;
}
